th {
  font-weight: bold;
}

td {
  font-style: italic;
  color: gray;
  word-break: break-all;
  padding: 0;
}

.options {
  width: 100%;
  border-spacing: 0;
}

.optionsName {
  border-bottom: 1px solid #7a7;
  color: rgba(85, 85, 241, 0.658);
}

.products_table {
  border-spacing: 0;
}

.firstTdProducts {
  border-right: 1px solid #7a7;
  text-align: left;
  color: rgba(85, 85, 241, 0.658);
}

.productsTr td {
  border-top: 1px solid #7a7;
}
